/* ----- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #912105;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        padding: 0px 30px;
        align-items: center;
        justify-content: space-between;
        min-height: 70px;
    }

    &__logo {
        border-radius: 50%;
        background-color: #fff;
        position: relative;
        z-index: 5;
        width: 40px;
        height: 40px;
    }

    &__menu {
    }
}
.menu {
    &__icon {
    }

    &__body {
    }

    &__list {
        li {
            position: relative;
            margin: 0px 0px 0px 20px;
        }

        @media (min-width: 767px) {
            display: flex;
            align-items: center;
            > li {
                padding: 10px 0px;
            }
        }
    }

    &__link {
        color: #fff;
        font-size: 18px;
        &:hover {
            text-decoration: underline;
        }
    }

    &__sub-list {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #000;
        padding: 15px;
        min-width: 200px;
        li {
            margin: 0px 0px 10px 0px;
            &:last-child {
                margin: 0;
            }
        }
        @media (min-width: 767px) {
            transform: translate(0px, 10%);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: all 0.3s ease 0s;
        }
    }

    &__sub-link {
        color: #fff;
        &:hover {
            text-decoration: underline;
        }
    }
    &__arrow {
        display: none;
    }
}
/* ----- */
body {
    &._pc {
        .menu__list {
            > li {
                &:hover {
                    .menu__sub-list {
                        opacity: 1;
                        visibility: visible;
                        transform: translate(0px, 0px);
                        pointer-events: all;
                    }
                }
            }
        }
    }
    &._touch {
        .menu__list {
            > li {
                display: flex;
                align-items: center;
                &._active{
                    .menu__sub-list {
                        opacity: 1;
                        visibility: visible;
                        transform: translate(0px, 0px);
                        pointer-events: all;
                    }
                    .menu__arrow {
                        transform: rotate(-180deg);
                    }
                }
            }
        }
        .menu__link {
            flex: 1 1 auto;
        }
        .menu__arrow {
            display: block;
            width: 0;
            height: 0;
            margin: 0px 0px 0px 5px;
            transition: transform 0.3s ease 0s;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 10px solid #fff;
        }
    }
}
/* ----- */
